
<div class="container">
    <h1>{{ pageTitle }}</h1>
    <div class="row">
        <div class="col" *ngIf="categList.length > 0">
            <div class="list-group" *ngIf="categList">
                <a class="list-group-item list-group-item-action" style="border-width:3px;margin-bottom: 2px;" *ngFor="let categ of categList" 
                    [ngStyle]="{'border-color':categ.backgroundColor}"
                    [ngClass]="categ === currentCategory ? 'active': ''">
                    <div class="input-group d-flex mb-3">
                            <div class="input-group-prepend p2">
                                    <button type="button" class="btn btn-outline-dark" (click)="itemSelected(categ)">Select</button>
                            </div>
                            <h5 class="mb-1 d-flex p2">{{ categ.name }}</h5>
                            <div class="input-group-append ml-auto">
                                    <button type="button" class="btn btn-outline-dark" (click)="removeCateg(categ)">Delete</button>
                                </div>
                          </div>          
                </a>
            </div>
        </div>
        <div class="col">
            <input type="button" value="New Category" (click)="newCategory()">
            <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
                <label>
                    Category Name
                    <input type="text" formControlName="name" id="txtCategName" name="txtCategName" [readonly]="isReadOnly">
                    <div *ngIf="txtCategName.invalid && (txtCategName.dirty || txtCategName.touched)" class="error">
                        <div *ngIf="txtCategName.errors.required">Category Name is required</div>
                        <div *ngIf="txtCategName.errors.minlength">Category Name should be minimum
                            {{txtCategName.errors.minlength.requiredLength}} characters</div>
                    </div>
                </label>

                <label>
                    Background Color
                    <input type="color" formControlName="backgroundColor" [readonly]="isReadOnly">
                    <div *ngIf="isSubmitteds && categoryForm.controls.backgroundColor.errors" class="error">
                        <div *ngIf="categoryForm.controls.backgroundColor.errors.required">Background Color is required</div>
                    </div>
                </label>

                <input type="submit" value="{{submitTitle}}" />
            </form>
        </div>

    </div>

</div>